<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>1045965359994-o9s380d6cu7o19katai53452pdn68gkf.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.1045965359994-o9s380d6cu7o19katai53452pdn68gkf</string>
        <key>ANDROID_CLIENT_ID</key>
        <string>1045965359994-4t73tutvoods2qj0gdvp47j4nkvdj990.apps.googleusercontent.com</string>
        <key>API_KEY</key>
        <string>AIzaSyD7woCwx7MTjP2dU4RR85g10yZpECaH2EE</string>
        <key>GCM_SENDER_ID</key>
        <string>1045965359994</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.app.sevenchats</string>
        <key>PROJECT_ID</key>
        <string>sevenchats</string>
        <key>STORAGE_BUCKET</key>
        <string>sevenchats.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:1045965359994:ios:15428d1fe3982ed7</string>
        <key>DATABASE_URL</key>
        <string>https://sevenchats.firebaseio.com</string>
    </dict>
</plist>
